body {
    background-color: #264653;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #E76F51;
    padding: 10px;
}

a {
    color: #E76F51;
}


