div {
    background-color: #264653;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#product-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.motorcycle-card {
    margin: 25px;
    border: #2A9D8F solid 5px;
    border-radius: 5px;
}

.motorcycle-card:hover {
    border: #F4A261 solid 5px;
}

img {
    max-width: 100%;
    height: 300px;
    border: #E9C46A 3px solid;
    border-radius: 3px;
    margin: 25px;
}

h1, h3, p {
    display: flex;
    justify-content: center;
    color: #F4A261;
    font-family: Inconsolata;
}

#header {
    margin-bottom: 100px;
    color: #E76F51;
    font-family: Big Shoulders Stencil Display;
    font-size: 4em;
}