body {
    background-color: #264653;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#product-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.motorcycle-card {
    margin: 25px;
    border: #2A9D8F solid 5px;
    border-radius: 5px;
}

img {
    width: 400px;
    border: #E9C46A 3px solid;
    border-radius: 3px;
    margin: 25px;
}

h1, h3, p {
    display: flex;
    justify-content: center;
    color: #F4A261;
}

#header {
    margin-bottom: 100px;
    color: #E76F51;
}